{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Services -->
    <div id="services" class="cards-1">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <h2> AQUI DEBEMOS CREAR LAS PLANIFICACIONES </h2>
                    <p class="p-heading p-large">We serve small and medium sized companies in all tech related industries with high quality growth services which are presented below</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->

            <form>

    <div class="form-group"> <!--  -->
        <label for="full_name_id" class="control-label">Asignatura</label>
        <select class="form-control" id="state_id">
            <option value="AL">Matemática</option>
            <option value="AL">Lenguaje y comunicación</option>
            <option value="AL">Historia</option>
            <option value="AL">Química</option>
            <option value="AL">Física</option>
            <option value="AL">Biología</option>
            <option value="AL">Filosofía</option>
            <option value="AL">Artes</option>
            <option value="AL">Educación Física</option>
        </select>
    </div>    

    <div class="form-group"> <!--  -->
        <label for="street1_id" class="control-label">Unidad</label>
        <select class="form-control" id="state_id">
            <option value="AL">Números</option>
            <option value="AL">Álgebra</option>
        </select>
    </div>                    
                            
    <div class="form-group"> <!--  -->
        <label for="street1_id" class="control-label">Curso</label>
        <select class="form-control" id="state_id">
            <option value="AL">I°medio</option>
            <option value="AL">II°medio</option>
        </select>
    </div>    

    <div class="form-group"> <!-- -->
        <label for="city_id" class="control-label">Nombre del Proyecto</label>
        <input type="text" class="form-control" id="Nombre del Proyecto" name="city1" placeholder="Smallville">
    </div>

    <div class="form-group"> <!-- -->
        <label for="city_id" class="control-label">Producto final</label>
        <input type="text" class="form-control" id="Producto final" name="city2" placeholder="Mi producto">
    </div>

    <div class="form-group"> <!-- -->
        <label for="city_id" class="control-label">Pregunta de Desafío</label>
        <input type="text" class="form-control" id="Pregunta de Desafío" name="city3" placeholder="Mi pregunta">
    </div>

    <div class="form-group"> <!-- -->
        <label for="city_id" class="control-label">Descripción del Proyecto</label>
        <input type="text" class="form-control" id="Descripción del Proyecto" name="city4" placeholder="Descripción">
    </div>

    <div class="form-group"> <!--  -->
        <label for="street1_id" class="control-label">Objetivo de Aprendizaje Asignatura 1</label>
        <select class="form-control" id="state_id">
            <option value="AL">OA1</option>
            <option value="AL">OA2</option>
        </select>
    </div>


    <div class="form-group"> <!--  -->
        <label for="street1_id" class="control-label">Objetivo de Aprendizaje Asignatura 2</label>
        <select class="form-control" id="state_id">
            <option value="AL">OA1</option>
            <option value="AL">OA2</option>
        </select>
    </div>

    <div class="form-group"> <!-- -->
        <label for="city_id" class="control-label">Metas de Comprensión</label>
        <input type="text" class="form-control" id="Metas de Comprensión" name="city4" placeholder="Mis metas de comprensión">
    </div>


    <div class="form-group"> <!-- -->
        <label for="city_id" class="control-label">¿Qué evaluar?</label>
        <input type="text" class="form-control" id="Descripción del Proyecto" name="city4" placeholder="Descripción">
    </div>


    <div class="form-group"> <!-- -->
        <label for="city_id" class="control-label">¿Cómo evaluar?</label>
        <input type="text" class="form-control" id="Descripción del Proyecto" name="city4" placeholder="Descripción">
    </div>                                    
                            

    <div class="form-group"> <!-- Zip Code-->
        <label for="zip_id" class="control-label">Zip Code</label>
        <input type="text" class="form-control" id="zip_id" name="zip" placeholder="#####">
    </div>        
    
    <div class="form-group"> <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">¡Crea tu proyecto!</button>
    </div>     
    
</form><!-- end of row -->

        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of services -->
{% endblock %}

